.DS_Store
*.log
node_modules
dist

.yalc
yalc.lock
yalc.sig

.idea/
.vscode/
temp/
.temp/
.tmp-projections
build/
.rts2*
coverage/

.cache
.yarnrc
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tgz

tsconfig.vitest-temp.json
.eslintcache
