name: CI

defaults:
  run:
    shell: bash

on:
  push:
  pull_request:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }} - ${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  check-lint-and-formatting:
    name: Check lint and formatting with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}

    strategy:
      fail-fast: false

      matrix:
        node-version: [24, latest]
        runs-on: [ubuntu-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }} and Install dependencies on ${{ matrix.runs-on }}
        uses: ./.github/actions/prepare
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check for duplicate packages
        run: yarn dedupe --check --strategy highest

      - name: Check formatting
        run: yarn workspaces foreach -Ap -j unlimited run format-check

      - name: Lint files
        run: yarn workspaces foreach -Ap -j unlimited run lint

  typecheck:
    name: Type-check with TypeScript ${{ matrix.ts }} on ${{ matrix.runs-on }} and Node.js ${{ matrix.node-version }}
    runs-on: ${{ matrix.runs-on }}

    strategy:
      fail-fast: false

      matrix:
        node-version: [24, latest]
        runs-on: [ubuntu-latest]
        ts: ['5.5', '5.6', '5.7', '5.8', '5.9', 'next']

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }} and Install dependencies on ${{ matrix.runs-on }}
        uses: ./.github/actions/prepare
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install TypeScript ${{ matrix.ts }}
        run: yarn up typescript@${{ matrix.ts }}

      - name: Run type tests
        run: yarn workspaces foreach -Ap -j unlimited run typecheck

  build:
    name: Build ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}

    strategy:
      fail-fast: false

      matrix:
        node-version: [24, latest]
        package:
          [
            { directory: 'eslint', name: '@aryaemami59/eslint-config' },
            { directory: 'prettier', name: '@aryaemami59/prettier-config' },
            { directory: 'typescript', name: '@aryaemami59/tsconfig' },
            { directory: 'vitest', name: '@aryaemami59/vitest-config' },
          ]
        runs-on: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }} and Install dependencies on ${{ matrix.runs-on }}
        uses: ./.github/actions/prepare
        with:
          node-version: ${{ matrix.node-version }}

      - name: Pack ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        working-directory: packages/${{ matrix.package.directory }}
        id: pack
        run: yarn pack

      - name: Upload artifact ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        uses: actions/upload-artifact@v6
        id: artifact-upload-step
        with:
          name: ${{ matrix.package.directory }}-${{ matrix.node-version }}-${{ matrix.runs-on }}
          path: packages/${{ matrix.package.directory }}/package.tgz

      - name: Did we fail?
        if: failure()
        run: ls -R packages/${{ matrix.package.directory }}

  test:
    name: Test ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
    needs: [build]
    runs-on: ${{ matrix.runs-on }}

    strategy:
      fail-fast: false

      matrix:
        node-version: [24, latest]
        package:
          [
            { directory: 'eslint', name: '@aryaemami59/eslint-config' },
            { directory: 'prettier', name: '@aryaemami59/prettier-config' },
            { directory: 'typescript', name: '@aryaemami59/tsconfig' },
            { directory: 'vitest', name: '@aryaemami59/vitest-config' },
          ]
        runs-on: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }} and Install dependencies on ${{ matrix.runs-on }}
        uses: ./.github/actions/prepare
        with:
          node-version: ${{ matrix.node-version }}

      - name: Download build artifact for ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        uses: actions/download-artifact@v7
        with:
          name: ${{ matrix.package.directory }}-${{ matrix.node-version }}-${{ matrix.runs-on }}
          path: examples/${{ matrix.package.directory }}

      - name: Display folder structure of examples/${{ matrix.package.directory }}
        run: ls -R examples/${{ matrix.package.directory }}

      - name: Install build artifact for ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        working-directory: examples/${{ matrix.package.directory }}
        run: yarn add -D ./package.tgz

      - name: Test examples for ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        working-directory: examples/${{ matrix.package.directory }}
        run: yarn test

      - name: Did we fail?
        if: failure()
        run: |
          yarn why ${{ matrix.package.name }}
          ls -R

  are-the-types-wrong:
    name: Check if the type definitions for ${{ matrix.package.name }} are correct with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    needs: [build]

    strategy:
      fail-fast: false

      matrix:
        node-version: [24, latest]
        package:
          [
            { directory: 'eslint', name: '@aryaemami59/eslint-config' },
            { directory: 'prettier', name: '@aryaemami59/prettier-config' },
            { directory: 'typescript', name: '@aryaemami59/tsconfig' },
            { directory: 'vitest', name: '@aryaemami59/vitest-config' },
          ]
        runs-on: [ubuntu-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }} and Install dependencies on ${{ matrix.runs-on }}
        uses: ./.github/actions/prepare
        with:
          node-version: ${{ matrix.node-version }}

      - name: Download build artifact for ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        uses: actions/download-artifact@v7
        with:
          name: ${{ matrix.package.directory }}-${{ matrix.node-version }}-${{ matrix.runs-on }}
          path: packages/${{ matrix.package.directory }}

      - name: Display folder structure
        run: ls -l .

      - name: Run are-the-types-wrong for ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        run: yarn attw packages/${{ matrix.package.directory }}/package.tgz --format table

      - name: Did we fail?
        if: failure()
        run: ls -R

  publint:
    name: Check if the package.json for ${{ matrix.package.name }} is correct with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}
    needs: [build]

    strategy:
      fail-fast: false

      matrix:
        node-version: [24, latest]
        package:
          [
            { directory: 'eslint', name: '@aryaemami59/eslint-config' },
            { directory: 'prettier', name: '@aryaemami59/prettier-config' },
            { directory: 'typescript', name: '@aryaemami59/tsconfig' },
            { directory: 'vitest', name: '@aryaemami59/vitest-config' },
          ]
        runs-on: [ubuntu-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }} and Install dependencies on ${{ matrix.runs-on }}
        uses: ./.github/actions/prepare
        with:
          node-version: ${{ matrix.node-version }}

      - name: Download build artifact for ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        uses: actions/download-artifact@v7
        with:
          name: ${{ matrix.package.directory }}-${{ matrix.node-version }}-${{ matrix.runs-on }}
          path: packages/${{ matrix.package.directory }}

      - name: Display folder structure
        run: ls -l .

      - name: Run publint for ${{ matrix.package.name }} with Node.js ${{ matrix.node-version }} on ${{ matrix.runs-on }}
        run: yarn packages/${{ matrix.package.directory }} run publint --strict ./package.tgz

      - name: Did we fail?
        if: failure()
        run: ls -R
